* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

.container {
    padding-top: 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}



/* style for movies in the home page */

/* img {
    width: 400px;
    height: 700px;
    border: 1px solid #fff;
    border-radius: 20px;
    box-shadow: 0px 5px 25px -1px #000;
    margin: 10px;
} */

.movie img {
    width: 300px;
    height: 500px;
    border: 1px solid #fff;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
    margin: 20px;
}

.movie:hover img {
    transform: scale(1.1);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.movie h3 {
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    padding: 10px 20px;
    border-radius: 20px 20px 0 0;
    transition: all 0.3s ease-in-out;
    visibility: hidden;
}

.movie:hover h3 {
    visibility: visible;
    transform: translate(-50%, 0%);
}

.container div:hover img.movie-poster {
    opacity: 0.5;
    cursor: pointer;
}


.container div:hover h2.movie-average,
.container div:hover h3.movie-title {
    font-size: 50px;
    color: #fff;
    text-shadow: 0 0 10px #000;
    text-align: center;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
}

.container div:hover h2.movie-average {
    top: 80%;
}


.container div h2.movie-average {
    top: 80%;
    display: none;
}


/* The style of the own movie page */
.container div {
    position: relative;
}

.col-md-4 {
    float: left;
    transition: all 0.5s ease-in-out;
    width: 10px;
}

.col-md-8 {
    font-size: 20px;
    padding: 60px;
    display: block;
}


.col-md-8 #movie-title {

    display: flex;
    justify-content: center;
    word-wrap: break-word;
    color: #fff;
    padding-top: 50px;

}

.col-md-8 #movie-release-date {
    display: flex;
    justify-content: center;
    word-wrap: break-word;
    color: #fff;
    padding-top: 50px;

}

.col-md-8 #movie-runtime {
    display: flex;
    justify-content: center;
    word-wrap: break-word;
    color: #fff;
    padding-top: 50px;

}

.col-md-8 #Overview {
    display: flex;
    justify-content: center;
    word-wrap: break-word;
    color: #fff;
    padding-top: 50px;

}

h3 #actors {
    display: flex;
    justify-content: center;
    word-wrap: break-word;
    color: #fff;
    padding-top: 50px;
}


.col-md-8 #movie-overview {
    display: flex;
    justify-content: center;
    word-wrap: break-word;
    color: #fff;
    padding-top: 50px;
}


.movie-card .card-info {
    display: block;
    visibility: visible;
    opacity: 1;
    transition: none;
}

.movie-card:hover .card-info {
    display: none;
    visibility: hidden;
    opacity: 0;
}



#col-md-8 h3 {
    background-color: red;
}

img#movie-backdrop {
    width: 500px;
    height: 300px;

}

#actors {
    margin: 24px 16px 0 0;
}