* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

.container {
    padding-top: 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}



/* style for movies in the home page */


.movie img.movie-poster {
    width: 300px;
    height: 500px;
    border: 1px solid #fff;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
    margin: 20px;
}

.movie:hover img.movie-poster {
    transform: scale(1.1);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.movie h3 {
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    padding: 10px 20px;
    border-radius: 20px 20px 0 0;
    transition: all 0.3s ease-in-out;
    visibility: hidden;
}

.movie:hover h3 {
    visibility: visible;
    transform: translate(-50%, 0%);
}

.container div:hover img.movie-poster {
    opacity: 0.5;
    cursor: pointer;
}


.container div:hover h2.movie-average,
.container div:hover h3.movie-title {
    font-size: 25px;
    font-family: fantasy;
    color: #fff;
    text-shadow: 0 0 10px #000;
    text-align: center;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
}

.container div:hover h2.movie-average {
    top: 80%;
}


.container div h2.movie-average {
    top: 80%;
    display: none;
}


/* The style of the own movie page */
.container div {
    position: relative;
}



.movie-card {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #888888;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  #movie-title {
    font-size: 36px;
    margin-top: 20px;
    flex-basis: 100%;
  }
  
  #movie-release-date,
  #movie-runtime {
    font-size: 18px;
    margin-top: 10px;
    flex-basis: 50%;
  }
  
  #movie-backdrop {
    width: 700px;
    height: 400px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #888888;
    flex-basis: 50%;
  }
  
  #movie-overview {
    font-size: 18px;
    margin-top: 20px;
    flex-basis: 100%;
  }










#actors {
    margin: 24px 16px 0 0;
}



#icon {
    display: contents;
}

#logo {
    width: 4em;
    height: 4em;
    padding-right: 5px;
}

#logo-name {
    font-family: cursive;
    font-size: larger;
    padding-left: 5px;
    padding-right: 10px;
}


#navbar{
      z-index: 9999;
}